<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dearsanta.app.mapper.UserMapper">

    <select id="getUser" resultType="SantaUser">
        SELECT id
             , email
             , nickname
             , role
             , img_url AS "imgUrl"
             , platform
             , created_date AS "createdDate"
             , updated_date AS "updatedDate"
             , IS_DELETED AS "isDeleted"
        FROM   santa_user
        WHERE  id = #{id}
    </select>

    <select id="getUserList" resultType="SantaUser">
        SELECT id
             , email
             , nickname
             , role
             , img_url AS "imgUrl"
             , platform
             , created_date AS "createdDate"
             , updated_date AS "updatedDate"
             , IS_DELETED AS "isDeleted"
        FROM   santa_user
    </select>

    <insert id="insertUser" parameterType="SantaUser">
        INSERT INTO santa_user (id, email, nickname, role, img_url, platform, is_deleted)
        VALUES (
                #{id}
              , #{email, jdbcType=VARCHAR}
              , #{nickname, jdbcType=VARCHAR}
              , #{role, jdbcType=VARCHAR}
              , #{imgUrl, jdbcType=VARCHAR}
              , #{platform, jdbcType=VARCHAR}
              , 0
               )
    </insert>

    <update id="updateUser" parameterType="SantaUser">
        UPDATE santa_user
        SET nickname = #{nickname, jdbcType=VARCHAR}
          , img_url = #{imgUrl, jdbcType=VARCHAR}
          , updated_date = sysdate
        WHERE id = #{id}
    </update>

    <update id="updateDeletedUser" parameterType="SantaUser">
        UPDATE santa_user
        SET is_deleted = 0
          , nickname = #{nickname, jdbcType=VARCHAR}
          , updated_date = sysdate
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="SantaUser">
        UPDATE santa_user
        SET is_deleted = 1
          , updated_date = sysdate
        WHERE id = #{id}
    </delete>

    <select id="getUserByEmail" resultType="SantaUser">
        SELECT id
             , email
             , nickname
             , role
             , img_url AS "imgUrl"
             , platform
             , created_date AS "createdDate"
             , updated_date AS "updatedDate"
             , IS_DELETED AS "isDeleted"
        FROM   santa_user
        WHERE  email like #{email}
    </select>
</mapper>